form {
	border: 2px solid slategrey;
	border-radius: 8px;
}

.header {
	text-align: center;
	color: darkgreen;
}

#section-1 {
}

.container {
	border: 2px outset darkslateblue;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin: 15px;

}

.button-style {
	display: block;
	width: 250px;
	border: 3px outset slategrey;
	padding: 5px;
	font-size: .75em;
	border-radius: 5px;
	margin: 10px 30px 10px 10px;
}



